<template>
    <nav-bar />
    <router-view />
</template>

<script>
import NavBar from "../../resources/js/Components/Nav.vue";
export default {
    el: "#main",
    components: {
        NavBar,
    },
};
</script>
