<script setup>
import { computed } from "vue";
import { Link } from "@inertiajs/inertia-vue3";

const props = defineProps({
    href: { type: String, default: "" },
    active: { type: Boolean, default: false },
    trueLink: { type: Boolean, default: true },
});

const classes = computed(() => {
    return props.active
        ? "inline-flex items-center px-1 pt-1 border-b-2 border-orange-600 text-sm font-medium leading-5 text-slate-900 focus:outline-none focus:border-slate-700 transition h-full"
        : "inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-slate-600 hover:text-slate-800 hover:border-orange-300 focus:outline-none focus:text-slate-700 focus:border-orange-300 transition h-full";
});
</script>

<template>
    <Link :href="href" :class="classes" v-if="props.trueLink">
        <slot />
    </Link>

    <div :class="classes" v-else>
        <slot />
    </div>
</template>
