<template>
    <div
        id="login"
        class="bg-grey-lighter min-h-screen flex flex-col bg-slate-200"
    >
        <div
            class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-start pt-10 sm:pt-0 sm:justify-center px-2"
        >
            <form
                class="bg-white px-6 py-8 rounded shadow-md text-black w-full"
                @submit.prevent="login()"
            >
                <h1 class="mb-8 text-3xl text-center">Login</h1>
                <div class="">
                    <label class="block text-sm text-zinc-800" for="email"
                        >Correo:</label
                    >
                    <input
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        type="email"
                        id="email"
                        placeholder="Escriba aquí su correo"
                        aria-label="correo"
                        v-model="form.email"
                        required
                    />
                </div>
                <div class="mt-2">
                    <label class="block text-sm text-zinc-800"
                        >Contraseña:</label
                    >
                    <input
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        type="password"
                        id="password"
                        placeholder="Escriba aqui su contraseña"
                        arial-label="Contraseña"
                        v-model="form.password"
                        required
                    />
                </div>

                <div class="mt-4 items-center flex flex-col">
                    <button
                        class="w-full text-center py-3 rounded bg-emerald-600 text-zinc-100 hover:bg-emerald-400 focus:bg-emerald-400 my-1"
                    >
                        Loguearse
                    </button>
                    <a
                        class="inline-block right-0 align-baseline font-bold text-sm text-500 text-zinc-800 hover:text-yellow-600 ml-3"
                        href="/#"
                        >Olvidó su contraseña ?</a
                    >
                </div>
            </form>
            <div class="text-grey-dark mt-6">
                No te has registrado aún ?
                <router-link
                    class="no-underline border-b border-blue text-blue hover:text-yellow-600"
                    to="/registrarse"
                >
                    Registrate</router-link
                >.
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
    data() {
        return {
            form: {
                email: "carl@carl.carl",
                password: "abc123..",
            },
        };
    },
    mounted() {
        console.log("montado");
    },
    methods: {
        ...mapActions("user", ["handleLogin"]),
        login() {
            this.handleLogin(this.form);
        },
    },
};
</script>
