<template>
    <div
        class="bg-grey-lighter min-h-screen flex flex-col bg-slate-200"
        id="registro"
    >
        <div
            class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-start pt-10 sm:pt-0 sm:justify-center px-2"
        >
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Registrarse</h1>
                <form @submit.prevent="register()">
                    <label class="block text-sm text-zinc-800">Nombre:</label>
                    <input
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="name"
                        placeholder="Nombre"
                        v-model="form.name"
                    />

                    <label class="block text-sm text-zinc-800">Correo:</label>
                    <input
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="email"
                        placeholder="Email"
                        v-model="form.email"
                    />

                    <label class="block text-sm text-zinc-800"
                        >Contraseña:</label
                    >
                    <input
                        type="password"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="password"
                        placeholder="Contraseña"
                        v-model="form.password"
                    />
                    <label class="block text-sm text-zinc-800"
                        >Confirme contraseña:</label
                    >
                    <input
                        type="password"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="confirm_password"
                        placeholder="Repita contraseña"
                        v-model="form.password_confirmation"
                    />
                    <button
                        class="w-full text-center py-3 rounded bg-emerald-600 text-zinc-100 hover:bg-emerald-400 focus:bg-emerald-400 my-1"
                    >
                        Crear Cuenta
                    </button>
                </form>

                <!-- Terminos -->
                <div class="text-center text-sm text-grey-dark mt-4">
                    Al registrarte aceptas nuestros
                    <a
                        class="no-underline border-b border-grey-dark text-grey-dark hover:text-yellow-600"
                        href="#"
                    >
                        Terminos de Servicio
                    </a>
                    y
                    <a
                        class="no-underline border-b border-grey-dark text-grey-dark hover:text-yellow-600"
                        href="#"
                    >
                        Pol&iacute;tica de Privacidad
                    </a>
                </div>
            </div>

            <!-- LOGIN -->
            <div class="text-grey-dark mt-6">
                Ya te habias registrado?
                <router-link
                    class="no-underline border-b border-blue text-blue hover:text-yellow-600"
                    to="/login"
                >
                    Acceder</router-link
                >.
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    data() {
        return {
            form: {
                name: "",
                email: "",
                password: "",
                password_confirmation: "",
            },
        };
    },
    mounted() {
        console.log("montado");
    },
    methods: {
        ...mapActions("user", ["handleRegister"]),
        register() {
            this.handleRegister(this.form);
        },
    },
};
</script>
