<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import TarjetaJugador from "@/Components/PlayerCard.vue";
import TarjetaJugadorSelect from "@/Components/SimplePlayerSelectCard.vue";
import { computed } from "@vue/reactivity";
import { Inertia } from "@inertiajs/inertia";
import Modal from "@/Jetstream/DialogModal.vue";
import ConfirmModal from "@/Jetstream/ConfirmationModal.vue";
import Alert from "@/Jetstream/ActionMessage.vue";
import SelectCol from "@/Components/CrearEquipoJugadoresSelectCol.vue";
import { onMounted, ref, unref } from "vue";

const props = defineProps({
    jugadores: Array,
    ligas: Array,
    primero: { type: Boolean, default: false },
});

// ATRIBUTTES
const imputCrearNombreEquipo = ref("");

const guards = ref([]);
const forwards = ref([]);
const centers = ref([]);

const playersShowGuards = ref([]);
const playersShowForwards = ref([]);
const playersShowCenters = ref([]);
const showPrimero = ref(true);
const saldoDanger = ref(0);

// COMPUTED
const guardsNotCompleted = computed(() => {
    if (unref(guards).length < 2) return true;
    return false;
});
const forwardsNotCompleted = computed(() => {
    if (unref(forwards).length < 2) return true;
    return false;
});
const centersNotCompleted = computed(() => {
    if (unref(centers).length < 1) return true;
    return false;
});
const saldoEquipo = computed(() => {
    let value = 110;
    if (guards.value.length > 0) {
        guards.value.forEach((player) => {
            value -= player.valor_mercado;
        });
    }
    if (forwards.value.length > 0) {
        forwards.value.forEach((player) => {
            value -= player.valor_mercado;
        });
    }
    if (centers.value.length > 0) {
        centers.value.forEach((player) => {
            value -= player.valor_mercado;
        });
    }
    if (value > 60) {
        saldoDanger.value = 0;
    } else if (value > 30) {
        saldoDanger.value = 1;
    } else if (value > 0) {
        saldoDanger.value = 2;
    } else {
        saldoDanger.value = 3;
    }

    value = Math.round(value);
    return value;
});

// FUNCIONES
const setGuards = (guardsEmited) => {
    guards.value = unref(guardsEmited);
};
const setForwards = (forwardsEmited) => {
    forwards.value = unref(forwardsEmited);
};
const setCenters = (centerEmited) => {
    centers.value = unref(centerEmited);
};
const cerrarPrimero = () => {
    showPrimero.value = !unref(showPrimero);
};
const sendFormCrearEquipo = () => {
    if (unref(guards).length != 2) return;
    if (unref(forwards).length != 2) return;
    if (unref(centers).length != 1) return;
    if (saldoEquipo.value < 0) return;

    let form = {
        guards: guards.value,
        forwards: forwards.value,
        centers: centers.value,
        nombre: imputCrearNombreEquipo.value,
    };
    Inertia.post(route("equipos.store"), form);
};

// ONMOUNT
onMounted(() => {
    playersShowGuards.value = props.jugadores.filter((p) =>
        p.posicion.match(/^G.*/)
    );
    playersShowForwards.value = props.jugadores.filter((p) =>
        p.posicion.match(/^F.*/)
    );
    playersShowCenters.value = props.jugadores.filter((p) =>
        p.posicion.match(/^C.*/)
    );
});
</script>

<template>
    <AppLayout title="Crear Equipo">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Creando Equipo
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg py-2 px-3"
                >
                    <form @submit.prevent="sendFormCrearEquipo">
                        <label
                            class="block text-gray-700 text-xl font-bold mb-2"
                            for="nombre"
                        >
                            Cual es su nombre?
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="nombre"
                            type="text"
                            placeholder="Nombre"
                            v-model="imputCrearNombreEquipo"
                        />
                        <h3 class="text-center text-xl m-2 mt-4">
                            Seleccionemos el quinteto inicial
                        </h3>
                        <h3 class="text-center text-xl m-2 mt-4">
                            Saldo disponible:
                            <span
                                :class="{
                                    'text-emerald-600': saldoDanger === 0,
                                    'text-amber-600': saldoDanger === 1,
                                    'text-orange-600': saldoDanger === 2,
                                    'text-rose-600': saldoDanger === 3,
                                }"
                                >{{ saldoEquipo }}M</span
                            >
                        </h3>
                        <div class="flex justify-around gap-2">
                            <!-- GUARD -->
                            <SelectCol
                                :players="playersShowGuards"
                                title="2 Exteriores"
                                titleModal="Seleccione sus primeros 2 exteriores"
                                :verBoton="guardsNotCompleted"
                                @modificado="setGuards"
                                :playersSeleccionados="guards"
                            />
                            <!-- FORGUARDS -->
                            <SelectCol
                                :players="playersShowForwards"
                                title="2 Aleros"
                                titleModal="Seleccione sus primeros 2 aleros"
                                :verBoton="forwardsNotCompleted"
                                @modificado="setForwards"
                                :playersSeleccionados="forwards"
                            />
                            <!-- CENTERS -->
                            <SelectCol
                                :players="playersShowCenters"
                                title="1 Interior"
                                titleModal="Seleccione su primer interior"
                                :verBoton="centersNotCompleted"
                                @modificado="setCenters"
                                :playersSeleccionados="centers"
                            />
                        </div>
                        <div class="flex justify-around mt-3">
                            <button
                                type="submit"
                                class="focus:outline-none text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-emerald-900 flex-initial basis-1/4"
                            >
                                Crear Equipo
                            </button>
                            <Link
                                :href="route('equipos.index')"
                                class="focus:outline-none text-white bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-rose-900 flex-initial basis-1/4 text-center"
                            >
                                Cancelar
                            </Link>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <Modal v-if="props.primero" :show="showPrimero" @close="cerrarPrimero">
            <template #title>
                <h3 class="text-center text-xl">Instrucciones</h3>
            </template>
            <template #content>
                <h3>Para crear tu primer equipo necesitas:</h3>
                <ul>
                    <li>- Un nombre</li>
                    <li>- 5 jugadores</li>
                </ul>
                <p>
                    Para poder fichar tienes que tener en cuenta el valor del
                    jugador, pues nunca podras sobrepasar tu limite salarial
                    (110M) , aunque, si eres bueno, siempre puedes aumentarlo
                    mediante la compraventa de jugadores.
                    <br />
                    Este es tu primer equipo, así que recuerda que siempre
                    podrás modificar tu plantilla para obtener mejores
                    resultados o para fichar a tus favoritos.
                </p>
                <br />
                <h3 class="">Disfruta de tu experiencia con nosotros :)</h3>
                <div class="flex justify-center m-3">
                    <button
                        @click="cerrarPrimero"
                        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 lg:px-5 lg:py-3 lg:text-base"
                    >
                        Comenzar a crear
                    </button>
                </div>
            </template>
            <template #footer>
                <h3>Muchas gracias por confiar en nosotros.</h3>
            </template>
        </Modal>
    </AppLayout>
</template>
