<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";

defineProps({
    equipos: Array,
});
</script>

<template>
    <AppLayout title="Mis Equipos">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Mis Equipos
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg py-2 px-3"
                >
                    <div class="flex justify-end">
                        <!-- <button type="button">
                            </button> -->
                        <Link
                            :href="route('equipos.create')"
                            class="focus:outline-none text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-blue-900"
                            >Crear Equipo</Link
                        >
                    </div>
                    <!-- LISTADO -->
                    <!-- <Lista lista="ligas" title="Ligas" type="liga" /> -->
                    <ul class="flex flex-col shadow-md rounded-lg">
                        <li
                            class="inline-block text-xl sm:text-2xl h-12 bg-slate-100 list-none align-middle flex-grow flex justify-center items-center rounded-t-lg"
                        >
                            Mis Equipos
                        </li>
                        <li
                            v-for="equipo in equipos"
                            class="h-12 odd:bg-slate-100 even:bg-slate-50 hover:bg-slate-200 list-none flex-grow flex justify-center items-center last-of-type:rounded-b-lg"
                        >
                            <Link
                                :href="
                                    route('equipos.show', { team: equipo.id })
                                "
                            >
                                {{ equipo.nombre }}
                            </Link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
