<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import TarjetaJugador from "@/Components/PlayerCard.vue";
import { computed } from "@vue/reactivity";
import { Inertia } from "@inertiajs/inertia";
import Modal from "@/Jetstream/DialogModal.vue";
import ConfirmModal from "@/Jetstream/ConfirmationModal.vue";
import { ref } from "vue";

const props = defineProps({
    equipo: Object,
    jugadores: Array,
    ligas: Array,
    propiedad: Boolean,
    propietario: Object,
    ligasAll: Array,
});

// ------------------------------- ATRIBUTES
const modalEdicionEquipo = ref(false);
const modalBorradoEquipo = ref(false);
const modalCrearUnion = ref(false);
const imputEditarNombreEquipo = ref("");

// ------------------------------- COMPUTED
const view10 = computed(() => {
    let res = props.jugadores.length % 5;
    if (res == 0) return true;
    return false;
});

const valorPlantilla = computed(() => {
    let sum = 0;
    props.jugadores.forEach((player) => {
        sum += player.puntos_fantasia_jornada;
    });
    return sum;
});
// ------------------------------- FUNCTIONS
// TOGGLES DE MODALES
const toggleModalEdicionEquipo = () => {
    modalEdicionEquipo.value = !modalEdicionEquipo.value;
    if (modalEdicionEquipo.value) {
        imputEditarNombreEquipo.value = "";
    }
};
const toggleModalBorradoEquipo = () => {
    modalBorradoEquipo.value = !modalBorradoEquipo.value;
};
const toggleModalCrearUnion = () => {
    modalCrearUnion.value = !modalCrearUnion.value;
};
// EVENTOS DE CRUD DE EQUIPO
const sendEditarNombre = () => {
    if (imputEditarNombreEquipo.value == "") {
        return;
    }
    let form = { nombre: imputEditarNombreEquipo.value };
    Inertia.put(route("equipos.update", { team: props.equipo.id }), form);
    if (modalEdicionEquipo.value) {
        toggleModalEdicionEquipo();
    }
};
const sendBorrarEquipo = () => {
    Inertia.delete(route("equipos.destroy", { team: props.equipo.id }));
    if (modalBorradoEquipo.value) {
        toggleModalBorradoEquipo();
    }
};
const sendCrearUnionLiga = (leagueId) => {
    Inertia.post(
        route("union.create", { league: leagueId, team: props.equipo.id })
    );
    toggleModalCrearUnion();
};
const sendBorrarUnionLiga = (leagueId) => {
    Inertia.delete(
        route("union.destroy", { league: leagueId, team: props.equipo.id })
    );
};
</script>

<template>
    <AppLayout title="Ver Equipo">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Ver Equipo
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg py-2 px-3"
                >
                    <div class="flex-column sm:flex justify-around mb-4">
                        <div class="flex-grow flex flex-row">
                            <h2 class="text-2xl">
                                {{ equipo.nombre }}
                            </h2>
                            <!-- BTN EDIT NOMBRE -->
                            <button
                                @click="toggleModalEdicionEquipo"
                                v-if="$props.propiedad"
                                class="inline-flex items-center justify-center w-8 h-8 text-gray-700 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-gray-200 ml-3"
                            >
                                <svg
                                    class="w-4 h-4 fill-current"
                                    viewBox="0 0 20 20"
                                >
                                    <path
                                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                                    ></path>
                                </svg>
                            </button>
                            <!-- MODAL EDICION NOMBRE -->
                            <Modal
                                :show="modalEdicionEquipo && props.propiedad"
                                @close="toggleModalEdicionEquipo"
                            >
                                <template #title>
                                    <h3 class="text-center text-xl">
                                        Modificando nombre
                                    </h3>
                                </template>
                                <template #content>
                                    <form @submit.prevent="sendEditarNombre">
                                        <h3 class="text-lg mb-3">
                                            Nombre actual:
                                            {{ props.equipo.nombre }}
                                        </h3>
                                        <label
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                            for="nombre"
                                        >
                                            Nuevo Nombre:
                                        </label>
                                        <input
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="nombre"
                                            type="text"
                                            placeholder="Nombre"
                                            v-model="imputEditarNombreEquipo"
                                        />
                                        <div class="flex justify-around mt-3">
                                            <button
                                                type="submit"
                                                class="focus:outline-none text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-emerald-900 flex-initial basis-1/4"
                                            >
                                                Confirmar cambio
                                            </button>
                                            <button
                                                @click.prevent="
                                                    toggleModalEdicionEquipo
                                                "
                                                type="button"
                                                class="focus:outline-none text-white bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-rose-900 flex-initial basis-1/4"
                                            >
                                                Cancelar
                                            </button>
                                        </div>
                                    </form>
                                </template>
                            </Modal>
                        </div>
                        <!-- DATA PROPIETARIO -->
                        <div class="flex">
                            <h3 class="text-lg">
                                Equipo creado por: {{ propietario.name }}
                            </h3>
                            <img
                                class="h-8 w-8 rounded-full object-cover ml-3"
                                :src="$props.propietario.profile_photo_url"
                                :alt="$props.propietario.name"
                            />
                        </div>
                    </div>
                    <!-- DATA EQUIPO -->
                    <div v-if="$props.propiedad">
                        <h3 class="text-xl">
                            Puntuación:
                            {{ valorPlantilla }}
                        </h3>
                        <h3 class="text-xl">
                            Fondos disponibles:
                            {{ $props.equipo.dinero_disponible }}M
                        </h3>
                    </div>
                    <br />

                    <!-- BTN GESTION JUGADORES -->
                    <div class="flex">
                        <h3 class="text-xl block flex-grow px-4">Plantilla:</h3>
                        <Link
                            v-if="$props.propiedad"
                            :href="
                                route('equipos.edit.plantilla', {
                                    team: props.equipo.id,
                                })
                            "
                            class="focus:outline-none text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-blue-900 flex-initial text-center"
                        >
                            Gestionar jugadores
                        </Link>
                    </div>
                    <!-- TARJETAS JUGADORES -->
                    <div
                        class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2"
                        :class="{
                            'lg:grid-cols-5': view10,
                            'lg:grid-cols-4 xl:grid-cols-6': !view10,
                        }"
                    >
                        <TarjetaJugador
                            v-for="jugador in jugadores"
                            :jugador="jugador"
                        />
                    </div>
                    <br />
                    <!-- LIGAS -->
                    <template v-if="$props.propiedad">
                        <div class="flex">
                            <h3 class="text-xl block flex-grow px-4">Ligas:</h3>
                            <button
                                @click="toggleModalCrearUnion"
                                type="button"
                                class="focus:outline-none text-white bg-blue-500 hover:bg-emerablueld-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-blue-900 flex-initial"
                            >
                                Añadir a una liga
                            </button>
                        </div>
                        <ul class="flex flex-col shadow-md rounded-lg">
                            <li
                                v-for="liga in ligas"
                                class="h-12 odd:bg-slate-50 even:bg-slate-100 hover:bg-slate-200 list-none flex-grow flex items-center last-of-type:rounded-b-lg"
                            >
                                <Link
                                    :href="
                                        route('ligas.show', { league: liga.id })
                                    "
                                    class="basis-3/5 text-center"
                                >
                                    #{{ liga.id }} - {{ liga.nombre }}
                                </Link>
                                <div class="basis-2/5">
                                    <button
                                        @click="sendBorrarUnionLiga(liga.id)"
                                        type="button"
                                        class="px-3 py-2 text-xs font-medium text-center text-white bg-rose-700 rounded-lg hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800"
                                    >
                                        Abandonar liga
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </template>
                    <!-- ELIMINAR EQUIPO -->
                    <ConfirmModal
                        :show="modalBorradoEquipo"
                        @close="toggleModalBorradoEquipo"
                    >
                        <template #title>Borrar Equipo</template>
                        <template #content>
                            <h3 class="text-xl">
                                Seguro que quieres eliminar este equipo:
                            </h3>
                            <h2 class="text-2xl">{{ props.equipo.nombre }}</h2>
                            <div class="flex justify-around mt-2">
                                <form @submit.prevent="sendBorrarEquipo">
                                    <button
                                        type="submit"
                                        class="focus:outline-none text-white bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-amber-900 flex-initial basis-1/4"
                                    >
                                        Eliminar Equipo
                                    </button>
                                    <button
                                        @click.prevent="
                                            toggleModalBorradoEquipo
                                        "
                                        type="button"
                                        class="focus:outline-none text-white bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-rose-900 flex-initial basis-1/4"
                                    >
                                        Cancelar
                                    </button>
                                </form>
                            </div>
                        </template>
                    </ConfirmModal>
                    <!-- BTN BORRADO -->
                    <div
                        v-if="props.propiedad"
                        class="flex justify-center sm:justify-end mt-2"
                    >
                        <button
                            @click="toggleModalBorradoEquipo"
                            type="button"
                            class="focus:outline-none text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-400 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-pink-900 flex-initial"
                        >
                            Eliminar Equipo
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL ANHADIR A LIGAS -->
        <Modal :show="modalCrearUnion" @close="toggleModalCrearUnion">
            <template #title>
                <h3 class="text-center">Añadir a la liga</h3>
            </template>
            <template #content>
                <div class="">
                    <ul class="flex flex-col shadow-md rounded-lg">
                        <li
                            v-for="liga in props.ligasAll"
                            class="h-12 odd:bg-slate-50 even:bg-slate-100 hover:bg-slate-200 list-none flex-grow flex items-center last-of-type:rounded-b-lg first-of-type:rounded-t-lg flex justify-around"
                        >
                            <h3 class="inline-block">
                                #{{ liga.id }} - {{ liga.nombre }}
                            </h3>
                            <button
                                @click="sendCrearUnionLiga(liga.id)"
                                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2 lg:text-base"
                            >
                                Añadir
                            </button>
                        </li>
                    </ul>
                </div>
            </template>
        </Modal>
    </AppLayout>
</template>
