<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import TarjetaJugador from "@/Components/PlayerCard.vue";
import TarjetaJugadorSelect from "@/Components/SimplePlayerSelectCard.vue";
import { computed } from "@vue/reactivity";
import { Inertia } from "@inertiajs/inertia";
import Modal from "@/Jetstream/DialogModal.vue";
import ConfirmModal from "@/Jetstream/ConfirmationModal.vue";
import Alert from "@/Jetstream/ActionMessage.vue";
import SelectCol from "@/Components/CrearEquipoJugadoresSelectCol.vue";
import { onMounted, ref, unref } from "vue";

const props = defineProps({
    jugadores: Array,
    plantilla: Array,
    equipo: Object,
    saldoTotal: Number,
});

// ATRIBUTTES
const guards = ref([]);
const forwards = ref([]);
const centers = ref([]);

const playersShowGuards = ref([]);
const playersShowForwards = ref([]);
const playersShowCenters = ref([]);
const saldoDanger = ref(0);

// COMPUTED
const guardsNotCompleted = computed(() => {
    if (unref(guards).length < 10) return true;
    return false;
});
const forwardsNotCompleted = computed(() => {
    if (unref(forwards).length < 2) return true;
    return false;
});
const centersNotCompleted = computed(() => {
    if (unref(centers).length < 1) return true;
    return false;
});
const saldoEquipo = computed(() => {
    let value = props.saldoTotal;
    if (guards.value.length > 0) {
        guards.value.forEach((player) => {
            value -= player.valor_mercado;
        });
    }
    if (forwards.value.length > 0) {
        forwards.value.forEach((player) => {
            value -= player.valor_mercado;
        });
    }
    if (centers.value.length > 0) {
        centers.value.forEach((player) => {
            value -= player.valor_mercado;
        });
    }
    if (value > 60) {
        saldoDanger.value = 0;
    } else if (value > 30) {
        saldoDanger.value = 1;
    } else if (value > 0) {
        saldoDanger.value = 2;
    } else {
        saldoDanger.value = 3;
    }

    value = Math.round(value);
    return value;
});

// FUNCIONES
const setGuards = (guardsEmited) => {
    guards.value = unref(guardsEmited);
};
const setForwards = (forwardsEmited) => {
    forwards.value = unref(forwardsEmited);
};
const setCenters = (centerEmited) => {
    centers.value = unref(centerEmited);
};
const sendFormEditarPlantilla = () => {
    if (saldoEquipo.value < 0) return;
    if (unref(guards).length < 2) return;
    if (unref(forwards).length < 2) return;
    if (unref(centers).length < 1) return;

    let players = [];

    players.push(...unref(guards));
    players.push(...unref(forwards));
    players.push(...unref(centers));

    // Si hay jugadores de mas
    if (players.length > 12) return;

    let newPlayers = [];
    let deletedPlayers = [];

    // Si no esta el NUEVO en el nuevo es NUEVO
    players.forEach((player) => {
        // Si no lo encuentra es nuevo
        if (!props.plantilla.find((playerP) => playerP.id == player.id)) {
            newPlayers.push(player);
        }
    });
    // Si no esta el ANTIGUO en el nuevo es BORRADO
    props.plantilla.forEach((playerP) => {
        // Si no lo encuentra es que se elimino
        if (!players.find((player) => player.id == playerP.id)) {
            deletedPlayers.push(playerP);
        }
    });

    // console.log(newPlayers);
    // console.log(deletedPlayers);

    let form = {
        newPlayers: newPlayers,
        deletedPlayers: deletedPlayers,
    };

    Inertia.patch(
        route("equipos.patch.plantilla", { team: props.equipo.id }),
        form
    );
};

// ONMOUNT
onMounted(() => {
    // let players = props.jugadores.filter((p) => {
    //     let diff = true;
    //     props.plantilla.forEach((el) => {
    //         diff = p.id != el.id;
    //     });
    //     return diff;
    // });
    playersShowGuards.value = props.jugadores.filter((p) =>
        p.posicion.match(/^G.*/)
    );
    playersShowForwards.value = props.jugadores.filter((p) =>
        p.posicion.match(/^F.*/)
    );
    playersShowCenters.value = props.jugadores.filter((p) =>
        p.posicion.match(/^C.*/)
    );

    guards.value = props.plantilla.filter((p) => p.posicion.match(/^G.*/));
    forwards.value = props.plantilla.filter((p) => p.posicion.match(/^F.*/));
    centers.value = props.plantilla.filter((p) => p.posicion.match(/^C.*/));
});
</script>

<template>
    <AppLayout title="Modificando Plantilla">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Modificando Plantilla
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg py-2 px-3"
                >
                    <form @submit.prevent="sendFormEditarPlantilla">
                        <h3 class="text-center text-xl m-2 mt-4">
                            Saldo disponible:
                            <span
                                :class="{
                                    'text-emerald-600': saldoDanger === 0,
                                    'text-amber-600': saldoDanger === 1,
                                    'text-orange-600': saldoDanger === 2,
                                    'text-rose-600': saldoDanger === 3,
                                }"
                                >{{ saldoEquipo }}M</span
                            >
                        </h3>
                        <div class="flex justify-around gap-2">
                            <!-- GUARD -->
                            <SelectCol
                                :players="playersShowGuards"
                                title="Exteriores"
                                titleModal="Mínimo 2 exteriores"
                                @modificado="setGuards"
                                :playersSeleccionados="guards"
                            />
                            <!-- :verBoton="guardsNotCompleted" -->
                            <!-- FORGUARDS -->
                            <SelectCol
                                :players="playersShowForwards"
                                title="Aleros"
                                titleModal="Mínimo 2 aleros"
                                @modificado="setForwards"
                                :playersSeleccionados="forwards"
                            />
                            <!-- :verBoton="forwardsNotCompleted" -->
                            <!-- CENTERS -->
                            <SelectCol
                                :players="playersShowCenters"
                                title="Interiores"
                                titleModal="Mínimo 1 interior"
                                @modificado="setCenters"
                                :playersSeleccionados="centers"
                            />
                            <!-- :verBoton="centersNotCompleted" -->
                        </div>
                        <div class="flex justify-around mt-3">
                            <button
                                type="submit"
                                class="focus:outline-none text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-emerald-900 flex-initial basis-1/4"
                            >
                                Modificar
                            </button>
                            <Link
                                :href="route('equipos.index')"
                                class="focus:outline-none text-white bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-rose-900 flex-initial basis-1/4 text-center"
                            >
                                Cancelar
                            </Link>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
