<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import Modal from "@/Jetstream/DialogModal.vue";
import { ref } from "vue";
import { Inertia } from "@inertiajs/inertia";

defineProps({
    ligas: Array,
});

// ------------------------------- ATRIBUTES
const modalCreacionLiga = ref(false);
const imputCrearNombreLiga = ref("");

// ------------------------------- FUNCTIONS
const toggleModalCreacionLiga = () => {
    modalCreacionLiga.value = !modalCreacionLiga.value;
    if (modalCreacionLiga.value) {
        imputCrearNombreLiga.value = "";
    }
};

const sendCreacionLiga = () => {
    if (imputCrearNombreLiga.value == "") {
        return;
    }
    let form = { nombre: imputCrearNombreLiga.value };
    Inertia.post(route("ligas.store"), form);
    if (modalCreacionLiga.value) {
        toggleModalCreacionLiga();
    }
};
</script>

<template>
    <AppLayout title="Mis Ligas">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Mis Ligas
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg py-2 px-3"
                >
                    <div class="flex justify-end">
                        <button
                            @click="toggleModalCreacionLiga"
                            type="button"
                            class="focus:outline-none text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-blue-900"
                        >
                            Crear Liga
                        </button>
                        <!-- VENTANA MODAL CREAR LIGA -->
                        <Modal
                            :show="modalCreacionLiga"
                            @close="toggleModalCreacionLiga"
                        >
                            <template #title>
                                <h3 class="text-center text-xl">
                                    Creando una liga
                                </h3>
                            </template>
                            <template #content>
                                <form @submit.prevent="sendCreacionLiga">
                                    <label
                                        class="block text-gray-700 text-sm font-bold mb-2"
                                        for="nombre"
                                    >
                                        Cual es su nombre?
                                    </label>
                                    <input
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        id="nombre"
                                        type="text"
                                        placeholder="nombre"
                                        v-model="imputCrearNombreLiga"
                                    />
                                    <div class="flex justify-around mt-3">
                                        <button
                                            type="submit"
                                            class="focus:outline-none text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-emerald-900 flex-initial basis-1/4"
                                        >
                                            Confirmar cambio
                                        </button>
                                        <button
                                            @click.prevent="
                                                toggleModalCreacionLiga
                                            "
                                            type="button"
                                            class="focus:outline-none text-white bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-rose-900 flex-initial basis-1/4"
                                        >
                                            Cancelar
                                        </button>
                                    </div>
                                </form>
                            </template>
                        </Modal>
                    </div>
                    <!-- LISTADO -->
                    <ul class="flex flex-col shadow-md rounded-lg">
                        <li
                            class="inline-block text-xl sm:text-2xl h-12 bg-slate-100 list-none align-middle flex-grow flex justify-center items-center rounded-t-lg"
                        >
                            Mis Ligas
                        </li>
                        <li
                            v-for="liga in ligas"
                            class="h-12 odd:bg-slate-100 even:bg-slate-50 hover:bg-slate-200 list-none flex-grow flex justify-center items-center last-of-type:rounded-b-lg"
                        >
                            <Link
                                :href="route('ligas.show', { league: liga.id })"
                            >
                                #{{ liga.id }} - {{ liga.nombre }}
                            </Link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
