<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import Modal from "@/Jetstream/DialogModal.vue";
import ConfirmModal from "@/Jetstream/ConfirmationModal.vue";
import { ref } from "vue";
import route from "../../../../vendor/tightenco/ziggy/src/js";
import { Inertia } from "@inertiajs/inertia";

const props = defineProps({
    liga: Object,
    equipos: Array,
    propiedad: Boolean,
    propietario: Object,
});

// ------------------------------- ATRIBUTES
const modalEdicionLiga = ref(false);
const modalBorradoLiga = ref(false);
const imputEditarNombreLiga = ref("");

// ------------------------------- FUNCTIONS
// TOGGLES DE MODALES
const toggleModalEdicionLiga = () => {
    modalEdicionLiga.value = !modalEdicionLiga.value;
    if (modalEdicionLiga.value) {
        imputEditarNombreLiga.value = "";
    }
};
const toggleModalBorradoLiga = () => {
    modalBorradoLiga.value = !modalBorradoLiga.value;
};
// EVENTOS DE CRUD DE LIGA
const sendEditarNombre = () => {
    if (imputEditarNombreLiga.value == "") {
        return;
    }
    let form = { nombre: imputEditarNombreLiga.value };
    Inertia.put(route("ligas.update", { league: props.liga.id }), form);
    if (modalEdicionLiga.value) {
        toggleModalEdicionLiga();
    }
};
const sendBorrarLiga = () => {
    Inertia.delete(route("ligas.destroy", { league: props.liga.id }));
    if (modalBorradoLiga.value) {
        toggleModalBorradoLiga();
    }
};
</script>

<template>
    <AppLayout title="Ver Liga">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Ver Liga
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg py-2 px-3"
                >
                    <div class="flex-column sm:flex justify-around mb-4">
                        <div class="flex-grow flex flex-row">
                            <h2 class="text-2xl">
                                #{{ props.liga.id }} - {{ props.liga.nombre }}
                            </h2>
                            <button
                                @click="toggleModalEdicionLiga"
                                v-if="props.propiedad"
                                class="inline-flex items-center justify-center w-8 h-8 text-gray-700 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-gray-200 ml-3"
                            >
                                <svg
                                    class="w-4 h-4 fill-current"
                                    viewBox="0 0 20 20"
                                >
                                    <path
                                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                                    ></path>
                                </svg>
                            </button>
                            <!-- VENTANA MODAL NOMBRE -->
                            <Modal
                                :show="modalEdicionLiga"
                                @close="toggleModalEdicionLiga"
                            >
                                <template #title>
                                    <h3 class="text-center text-xl">
                                        Modificando nombre
                                    </h3>
                                </template>
                                <template #content>
                                    <form @submit.prevent="sendEditarNombre">
                                        <h3 class="text-lg mb-3">
                                            Nombre actual:
                                            {{ props.liga.nombre }}
                                        </h3>
                                        <label
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                            for="nombre"
                                        >
                                            Nuevo Nombre:
                                        </label>
                                        <input
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="nombre"
                                            type="text"
                                            placeholder="nombre"
                                            v-model="imputEditarNombreLiga"
                                        />
                                        <div class="flex justify-around mt-3">
                                            <button
                                                type="submit"
                                                class="focus:outline-none text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-emerald-900 flex-initial basis-1/4"
                                            >
                                                Confirmar cambio
                                            </button>
                                            <button
                                                @click.prevent="
                                                    toggleModalEdicionLiga
                                                "
                                                type="button"
                                                class="focus:outline-none text-white bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-rose-900 flex-initial basis-1/4"
                                            >
                                                Cancelar
                                            </button>
                                        </div>
                                    </form>
                                </template>
                            </Modal>
                        </div>
                        <div class="flex">
                            <h3 class="text-lg">
                                Liga creada por: {{ props.propietario.name }}
                            </h3>
                            <img
                                class="h-8 w-8 rounded-full object-cover ml-3"
                                :src="props.propietario.profile_photo_url"
                                :alt="props.propietario.name"
                            />
                        </div>
                    </div>
                    <!-- LISTADO EQUIPOS -->
                    <ul class="flex flex-col shadow-md rounded-lg">
                        <li
                            class="inline-block text-lg h-12 bg-slate-100 list-none align-middle flex-grow flex justify-center items-center rounded-t-lg"
                        >
                            Equipos
                        </li>
                        <li
                            v-for="equipo in props.equipos"
                            class="h-12 odd:bg-slate-100 even:bg-slate-50 hover:bg-slate-200 list-none flex-grow flex justify-center items-center last-of-type:rounded-b-lg"
                        >
                            <Link
                                :href="
                                    route('equipos.show', { team: equipo.id })
                                "
                            >
                                {{ equipo.nombre }}
                            </Link>
                        </li>
                    </ul>
                    <!-- ELIMINAR LIGA -->
                    <ConfirmModal
                        :show="modalBorradoLiga"
                        @close="toggleModalBorradoLiga"
                    >
                        <template #title>Borrar Liga</template>
                        <template #content>
                            <h3 class="text-xl">
                                Seguro que quieres eliminar la liga:
                            </h3>
                            <h2 class="text-2xl">{{ liga.nombre }}</h2>
                            <div class="flex justify-around mt-2">
                                <form @submit.prevent="sendBorrarLiga">
                                    <button
                                        type="submit"
                                        class="focus:outline-none text-white bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-amber-900 flex-initial basis-1/4"
                                    >
                                        Eliminar liga
                                    </button>
                                    <button
                                        @click.prevent="toggleModalBorradoLiga"
                                        type="button"
                                        class="focus:outline-none text-white bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-rose-900 flex-initial basis-1/4"
                                    >
                                        Cancelar
                                    </button>
                                </form>
                            </div>
                        </template>
                    </ConfirmModal>
                    <!-- BTN BORRADO -->
                    <div
                        v-if="props.propiedad"
                        class="flex justify-center sm:justify-end mt-2"
                    >
                        <button
                            @click="toggleModalBorradoLiga"
                            type="button"
                            class="focus:outline-none text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-400 font-medium rounded-lg text-sm px-5 py-2.5 m-1 dark:focus:ring-pink-900 flex-initial"
                        >
                            Eliminar liga
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
