<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { computed, onBeforeMount } from "vue";

defineProps({
    equipos: String,
    ligas: String,
});
</script>

<template>
    <AppLayout title="Gestion">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Gestion
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <h1>Gestion</h1>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
