<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { computed } from "@vue/runtime-core";

defineProps({});
</script>

<template>
    <AppLayout title="Inicio">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Index
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <h1 class="text-center text-2xl mb-3 mt-5">
                        Aquí tú eres el General Manager
                    </h1>
                    <iframe
                        src="https://my.spline.design/lowpolybasketballcopy-d932116b7c3ed9262850fe3e03b5c6a0/"
                        frameborder="0"
                        width="100%"
                        height="400px"
                    ></iframe>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
