<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
</script>

<template>
    <AppLayout title="Gestion">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Nosotros
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2"
                >
                    <h1 class="p-2 text-2xl m-2 text-center">
                        Proyecto e idea
                    </h1>
                    <h1 class="p-2 text-lg mt-2">Que es</h1>
                    <p class="p-1 m-2">
                        Esto es una página web de tipo fantasy deportivo con la
                        cual puedes crear equipos y administrarlos para obtener
                        la mejor puntuacion cada jornada
                    </p>
                    <h1 class="p-2 text-lg mt-2">Porque</h1>
                    <p class="p-1 m-2">
                        Decidí realizar este proyecto inspirandome en una de mis
                        pasiones, el baloncesto. Así que en cuanto nos pusimos
                        escoger sobre que hacer una web no lo pensé dos veces y
                        me embarqué en este viaje.
                    </p>
                    <br />

                    <h1 class="p-2 text-2xl mt-2 text-center">
                        Proyecto y funcionamiento
                    </h1>
                    <h1 class="p-2 text-xl mt-2">Estructura</h1>
                    <p class="p-1 m-2">
                        La estructura principal del proyecto se levanta sobre
                        docker dividido en varios containers:
                        <ul class="list-inside p-s2">
                            <li class="list-disc">php + node: Este es el container principal. Aquí se ejecutan tanto Laravel como las peticiones asíncronas con node.</li>
                            <li class="list-disc">mysql: Este container es la base de datos.</li>
                            <li class="list-disc">nginx: Aquí es donde se distribuyen todas las peticiones que le llegan al entorno.</li>
                            <li class="list-disc">phpmyadmin: Siempre esta bien poder observar los datos, por eso este container.</li>
                        </ul>
                    </p>

                    <h1 class="p-2 text-xl mt-2">Obtención de datos</h1>
                    <p class="p-1 m-2">
                        Para poder mantener esta web se necesitan muchos datos
                        complejos de obtener, ya sea por limitaciones monetarias
                        o legales(web scraping), así que utilizo varias APIS
                        externas que, mediante peticiones asincronas con node,
                        me ayudan a insertar todos los valores en mi propia base
                        de datos.
                    </p>
                    <h1 class="p-2 text-xl mt-2">Listado de apis</h1>
                    <p class="p-1 m-2">
                        <ul class="list-inside p-s2">
                            <li class="list-disc"><a href="https://rapidapi.com/kaylanhusband/api/nba-player-individual-stats/">NBA Player Individual Stats</a>: Esta api tiene un precio de 1€ al mes a cambio de peticiones ilimitadas. La utilizo sobretodo para la obtencion de imagenes de los jugadores y estadisticas de toda la carrera.</li>
                            <li class="list-disc"><a href="https://rapidapi.com/api-sports/api/api-nba/">API-NBA</a>: Precio 0€ 100req/diarias. La utilizo como pieza central. De aquí obtuve la lista de jugadores definitivos y según pasan las jornadas utilizo esta api para ñadir los nuevos fatos.</li>
                            <li class="list-disc"><a href="http://www.balldontlie.io/#introduction">Balldontlie</a>: Esta apenas la utilizo porque los datos están anticuados. Pero hice pruebas con ella.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
