<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
</script>

<template>
    <AppLayout title="Gestion">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Reglas
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <h1 class="p-2 text-2xl m-2">Reglas</h1>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
