<template>
    <div v-if="user">
        <h1>Bienvenido {{ user.name }}</h1>
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
    data() {
        return {};
    },
    computed: {
        ...mapState("user", ["user"]),
    },
};
</script>
