<template>
    <router-link
        to="/gestion"
        class="no-underline block mt-4 md:inline-block md:mt-0 text-zinc-300 hover:text-zinc-50 mr-8 md:mr-4 text-right md:text-left"
    >
        Mi perfil
    </router-link>
    <router-link
        to="/gestion/equipos"
        class="no-underline block mt-4 md:inline-block md:mt-0 text-zinc-300 hover:text-zinc-50 mr-8 md:mr-4 text-right md:text-left"
    >
        Mis Equipos
    </router-link>
    <router-link
        to="/gestion/ligas"
        class="no-underline block mt-4 md:inline-block md:mt-0 text-zinc-300 hover:text-zinc-50 mr-8 md:mr-4 text-right md:text-left"
    >
        Mis Ligas
    </router-link>
</template>
