<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import TarjetaJugador from "@/Components/PlayerCard.vue";
import TarjetaJugadorSelect from "@/Components/SimplePlayerSelectCard.vue";
import { computed } from "@vue/reactivity";
import { Inertia } from "@inertiajs/inertia";
import Modal from "@/Jetstream/DialogModal.vue";
import ConfirmModal from "@/Jetstream/ConfirmationModal.vue";
import { onMounted, ref, toRef, unref } from "vue";

const props = defineProps({
    players: Array,
    title: String,
    titleModal: String,
    verBoton: {
        type: Boolean,
        default: true,
    },
    playersSeleccionados: { type: Array, default: [] },
});

// ATRIBUTTES
// const jugadoresSeleccionados = ref([]);
const modalAnhadirJugador = ref(false);
// const playersShowJugadores = ref([]);
const playersShowJugadores = toRef(props, "players");
const jugadoresSeleccionados = toRef(props, "playersSeleccionados");

// EMITS
const emit = defineEmits(["modificado"]);

// FUNCIONES
const anhadirJugador = async (element) => {
    // Buscamos
    let index = await unref(playersShowJugadores).indexOf(element);
    // Eliminaos
    unref(playersShowJugadores).splice(index, 1);
    // Anhadimos
    unref(jugadoresSeleccionados).push(element);
    // console.log(element);

    // Emitimos cambio
    emit("modificado", unref(jugadoresSeleccionados));
};
const quitarJugador = async (element) => {
    // Buscamos
    let index = await unref(jugadoresSeleccionados).indexOf(element);
    // Eliminaos
    unref(jugadoresSeleccionados).splice(index, 1);
    // Anhadimos jugador de vuelta
    await unref(playersShowJugadores).unshift(element);
    // Los ordenamos
    unref(playersShowJugadores).sort((a, b) => {
        return b.valor_mercado - a.valor_mercado;
    });
    // console.log(element);

    // Emitimos cambio
    emit("modificado", unref(jugadoresSeleccionados));
};
const toggleModalAnhadirJugadores = () => {
    modalAnhadirJugador.value = !modalAnhadirJugador.value;
};

// ON MOUNTED
// onMounted(() => {
//     if (props.playersSeleccionados.length != 0) {
//         jugadoresSeleccionados.value = playersSeleccionadosrecibidos.value;
//     }
// });
</script>

<template>
    <!-- JUGADOR -->
    <div
        class="border w-full border-2 rounded flex flex-col align-items-center gap-2 p-2"
    >
        <h3 class="text-center w-full">{{ title }}</h3>
        <TarjetaJugadorSelect
            v-if="jugadoresSeleccionados"
            v-for="jugadorSel of jugadoresSeleccionados"
            :jugador="jugadorSel"
            :seleccionado="true"
            @deseleccionar="quitarJugador"
        />
        <button
            v-if="props.verBoton"
            type="button"
            class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 sm:text-sm lg:text-lg"
            @click="toggleModalAnhadirJugadores"
        >
            Fichar
        </button>
        <Modal
            :show="modalAnhadirJugador && props.verBoton"
            @close="toggleModalAnhadirJugadores"
        >
            <template #title>
                <div class="flex justify-end m-2">
                    <button @click="toggleModalAnhadirJugadores">
                        <img
                            src="/storage/icons/btn-cerrar-x.svg"
                            alt=""
                            width="15"
                        />
                    </button>
                </div>
                <h3 class="text-center text-xl">
                    {{ props.titleModal }}
                </h3>
            </template>
            <template #content>
                <div class="grid sm:grid-cols-2 gap-2">
                    <div
                        class="flex justify-center"
                        v-for="jugadorModal of playersShowJugadores"
                    >
                        <TarjetaJugadorSelect
                            :jugador="jugadorModal"
                            @seleccionar="anhadirJugador"
                        />
                    </div>
                </div>
            </template>
        </Modal>
    </div>
</template>
