<template>
    <Line
        :chart-options="this.chartOptions"
        :chart-data="props.chartData"
        :chart-id="props.chartId"
        :dataset-id-key="props.datasetIdKey"
        :plugins="props.plugins"
        :css-classes="props.cssClasses"
        :styles="props.styles"
        :width="props.width"
        :height="props.height"
    />
</template>

<script setup>
import { Line } from "vue-chartjs";
import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    LineElement,
    LinearScale,
    CategoryScale,
    PointElement,
    Filler,
} from "chart.js";

ChartJS.register(
    Title,
    Tooltip,
    Legend,
    LineElement,
    LinearScale,
    CategoryScale,
    PointElement,
    Filler
);

const props = defineProps({
    chartId: {
        type: String,
        default: "bar-chart",
    },
    datasetIdKey: {
        type: String,
        default: "label",
    },
    width: {
        type: Number,
        default: 400,
    },
    height: {
        type: Number,
        default: 400,
    },
    cssClasses: {
        default: "",
        type: String,
    },
    styles: {
        type: Object,
        default: () => {},
    },
    plugins: {
        type: Array,
        default: () => [],
    },
    chartData: {
        type: Object,
        default: () => {
            return {
                labels: ["January", "February", "Marzo"],
                datasets: [{ data: [40, 20, 50] }],
            };
        },
    },
});

// const chartData = {
//     labels: props.labels,
//     datasets: props.datasets,
// };
const chartOptions = {
    responsive: true,
};
</script>
