<script setup>
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import { computed } from "@vue/reactivity";
import route from "../../../vendor/tightenco/ziggy/src/js";
const props = defineProps({
    lista: Array,
    title: String,
    type: String,
});

const ruta = computed((id) => {
    props.type === "lista"
        ? route("ligas.show", { league: id })
        : route("equipos.show", { team: id });
});
</script>

<template>
    <ul class="flex flex-col shadow-md rounded-lg">
        <li
            class="inline-block text-lg h-12 bg-slate-100 list-none align-middle flex-grow flex justify-center items-center rounded-t-lg"
        >
            {{ title }}
        </li>

        <template v-if="props.type === 'liga'">
            <li
                v-for="liga in this.props.lista"
                class="h-12 odd:bg-slate-100 even:bg-slate-50 hover:bg-slate-200 list-none flex-grow flex justify-center items-center last-of-type:rounded-b-lg"
            >
                <Link :href="route('ligas.show', { league: liga.id })">
                    {{ liga.nombre }}
                </Link>
            </li>
        </template>
    </ul>
</template>
