<script setup>
import { computed, reactive, ref } from "@vue/reactivity";
import { onMounted, onUnmounted, watch } from "@vue/runtime-core";
import Modal from "@/Jetstream/DialogModal.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";

const axios = require("axios");

const props = defineProps({
    jugador: Object,
});

// ATRIBUTTES
const player = ref(null);
const modalShowPlayer = ref(false);
const clicked = ref(false);

// FUNCTIONS
const peticionFullPlayer = () => {
    let name = props.jugador.firstname + "_" + props.jugador.lastname;
    let options = {
        method: "GET",
        url: "https://nba-player-individual-stats.p.rapidapi.com/players/fullname",
        params: { name: name },
        headers: {
            "X-RapidAPI-Host": "nba-player-individual-stats.p.rapidapi.com",
            "X-RapidAPI-Key": process.env.MIX_RAPIDAPI_KEY,
        },
    };
    if (
        props.jugador.id_api_individual_stats &&
        props.jugador.id_api_individual_stats > 0
    ) {
        options.url =
            "https://nba-player-individual-stats.p.rapidapi.com/players/" +
            props.jugador.id_api_individual_stats;
        options.params = {};
    }

    axios
        .request(options)
        .then(function (response) {
            // console.log(response.data);
            if (response.status == 200 && response.data != null) {
                player.value = response.data;
            }
        })
        .catch(function (error) {
            console.error(error);
        });
};

const toggleModalShowPlayer = () => {
    modalShowPlayer.value = !modalShowPlayer.value;
    clicked.value = !clicked.value;
};

// ON MOUNTED
onMounted(() => {
    peticionFullPlayer();
});
</script>

<template>
    <div
        class="max-w-sm bg-white rounded-lg border-2 border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 hover:border-orange-300 transition-colors duration-300 flex flex-col"
        :class="{ 'border-orange-500': clicked }"
        @click="toggleModalShowPlayer"
    >
        <div class="absolute m-2 hidden lg:block">
            <div class="m-1 flex items-center bg-white/50 rounded-br-lg">
                <img
                    src="/storage/icons/star.png"
                    alt=""
                    class="inline-block"
                />
                <h3
                    class="text-amber-700 font-extrabold inline-block text-xl m-2 mb-0 mt-0"
                >
                    {{ props.jugador.puntos_fantasia_jornada }}
                </h3>
            </div>
        </div>
        <img
            class="rounded-t-lg w-full object-contain"
            :src="jugador.image_url"
            alt=""
        />
        <div class="">
            <div class="p-5">
                <div class="flex justify-between">
                    <h5
                        class="mb-2 text-xl sm:text-2xl font-bold tracking-tight text-gray-900 dark:text-white inline-block"
                    >
                        {{ props.jugador.firstname }}
                    </h5>
                    <p
                        class="mb-3 font-semibold text-gray-700 dark:text-gray-400 inline-block"
                    >
                        {{ props.jugador.posicion }}
                    </p>
                </div>
                <p
                    class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white text-ellipsis"
                >
                    {{ props.jugador.lastname }}
                </p>
                <div class="m-1 flex items-center lg:hidden">
                    <img
                        src="/storage/icons/star.png"
                        alt=""
                        class="inline-block"
                    />
                    <h3
                        class="text-amber-700 font-extrabold inline-block text-xl m-2 mb-0 mt-0"
                    >
                        {{ props.jugador.puntos_fantasia_jornada }}
                    </h3>
                </div>
                <h3
                    class="text-emerald-700 font-extrabold text-xl m-2 text-left lg:text-center"
                >
                    $ {{ props.jugador.valor_mercado }}M
                </h3>
            </div>

            <!-- SLOT -->
            <slot />
        </div>
        <Modal :show="modalShowPlayer" @close="toggleModalShowPlayer">
            <template #title>
                <div class="flex justify-end m-2">
                    <button @click="toggleModalShowPlayer">
                        <img
                            src="/storage/icons/btn-cerrar-x.svg"
                            alt=""
                            width="15"
                        />
                    </button>
                </div>
            </template>
            <template #content>
                <div class="absolute">
                    <div class="m-1 flex items-center">
                        <img
                            src="/storage/icons/star.png"
                            alt=""
                            class="inline-block"
                        />
                        <h3
                            class="text-amber-700 font-extrabold inline-block text-lg sm:text-xl lg:text-2xl m-2 mb-0 mt-0"
                        >
                            {{ props.jugador.puntos_fantasia_jornada }}
                        </h3>
                    </div>
                    <h3
                        class="text-emerald-700 font-extrabold text-lg sm:text-xl lg:text-2xl m-2"
                    >
                        $ {{ props.jugador.valor_mercado }}M
                    </h3>
                </div>
                <div class="flex flex-col">
                    <div>
                        <img
                            class="rounded-t-lg w-full"
                            :src="props.jugador.image_url"
                            alt=""
                        />
                    </div>
                    <div>
                        <h2 class="text-3xl text-center m-3">
                            {{ props.jugador.firstname }}
                            {{ props.jugador.lastname }}
                        </h2>
                        <!-- <div class="flex justify-around">
                            <h3 class="inline-block m-2">
                                Puntuacion:
                                {{ props.jugador.puntos_fantasia_jornada }}
                            </h3>
                            <h3 class="inline-block m-2">
                                Precio:
                                {{ props.jugador.valor_mercado }}M
                            </h3>
                        </div> -->
                        <div class="flex justify-between">
                            <h3 class="inline-block m-2">
                                Posicion: {{ props.jugador.posicion }}
                            </h3>
                            <h3 class="inline-block m-2">
                                Altura: {{ props.jugador.altura }}m
                            </h3>
                            <h3 class="inline-block m-2">
                                Peso: {{ props.jugador.peso }}Kg
                            </h3>
                        </div>
                        <template v-if="player">
                            <div class="grid grid-cols-9">
                                <h3
                                    class="inline-block m-1 text-sm sm:text-base lg:text-lg col-span-4"
                                >
                                    Equipo: {{ player.team }}
                                </h3>
                                <h3
                                    class="inline-block m-1 text-center text-sm sm:text-base lg:text-lg col-span-5"
                                >
                                    Edad: {{ player.age }} -
                                    {{ player.dateOfBirth }}
                                </h3>

                                <h3
                                    class="text-center m-2 col-span-9 text-lg sm:text-xl lg:text-2xl"
                                >
                                    Estadisticas medias de carrera
                                </h3>

                                <div class="col-span-9 flex flex-row">
                                    <div class="flex flex-col m-2 basis-1/3">
                                        <h3
                                            class="text-sm sm:text-base lg:text-lg"
                                        >
                                            Puntos por partido:
                                        </h3>
                                        <h3
                                            class="bg-slate-100 text-center text-xl sm:text-2xl"
                                        >
                                            {{ player.careerPoints }}
                                        </h3>
                                    </div>
                                    <div class="flex flex-col m-2 basis-1/3">
                                        <h3
                                            class="text-sm sm:text-base lg:text-lg"
                                        >
                                            Rebotes por partido:
                                        </h3>
                                        <h3
                                            class="bg-slate-100 text-center text-xl sm:text-2xl"
                                        >
                                            {{ player.careerRebounds }}
                                        </h3>
                                    </div>

                                    <div class="flex flex-col m-2 basis-1/3">
                                        <h3
                                            class="text-sm sm:text-base lg:text-lg"
                                        >
                                            Asistencias por partido:
                                        </h3>
                                        <h3
                                            class="bg-slate-100 text-center text-xl sm:text-2xl"
                                        >
                                            {{ player.carrerAssists }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <div class="flex justify-center mt-2">
                            <Link
                                :href="
                                    route('mercado.show', {
                                        player: props.jugador.id,
                                    })
                                "
                            >
                                <button
                                    type="button"
                                    class="text-lg text-gray-900 bg-white border border-slate-300 focus:outline-none hover:bg-slate-100 focus:ring-4 focus:ring-slate-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-slate-800 dark:text-white dark:border-slate-600 dark:hover:bg-slate-700 dark:hover:border-slate-600 dark:focus:ring-slate-700"
                                >
                                    Ver Más...
                                </button>
                            </Link>
                        </div>
                    </div>
                </div>
            </template>
        </Modal>
    </div>
</template>
