<script setup>
import { ref } from "@vue/reactivity";
import { computed } from "@vue/runtime-core";

const props = defineProps({
    jugador: Object,
    seleccionado: {
        type: Boolean,
        default: false,
    },
});

// EMITS
const emit = defineEmits(["seleccionar", "deseleccionar"]);

// FUNCTIONS
const seleccionar = () => {
    emit("seleccionar", props.jugador);
};
const deseleccionar = () => {
    emit("deseleccionar", props.jugador);
};
</script>

<template>
    <div
        class="max-w-sm bg-white rounded-lg border-2 border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 hover:border-rose-300 transition-colors duration-300 flex flex-col"
        :class="{ 'border-emerald-400': seleccionado }"
    >
        <img
            class="rounded-t-lg w-full object-contain"
            :src="props.jugador.image_url"
            alt=""
        />
        <div class="">
            <div class="p-5">
                <h5
                    class="mb-2 text-xl sm:text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                    {{ props.jugador.firstname }}
                </h5>
                <p
                    class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white text-ellipsis"
                >
                    {{ props.jugador.lastname }}
                </p>
                <h4
                    class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-lg"
                >
                    Valoracion:
                    {{ props.jugador.puntos_fantasia_jornada }}
                </h4>
                <h4
                    class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-lg"
                >
                    Precio:
                    {{ props.jugador.valor_mercado }}M
                </h4>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Posicion:
                    {{ props.jugador.posicion }}
                </p>
            </div>
        </div>
        <div class="flex justify-center">
            <button
                v-if="!seleccionado"
                @click="seleccionar"
                type="button"
                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 lg:px-5 lg:py-3 lg:text-base"
            >
                Añadir
            </button>
            <button
                v-else
                @click="deseleccionar"
                type="button"
                class="focus:outline-none text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:ring-rose-300 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 lg:px-5 lg:py-3 lg:text-base"
            >
                Quitar
            </button>
        </div>
    </div>
</template>
