<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import TarjetaJugador from "@/Components/PlayerCard.vue";
import { onMounted, onUnmounted, ref, unref } from "@vue/runtime-core";
import { Inertia } from "@inertiajs/inertia";
import axios from "axios";
import route from "../../../../vendor/tightenco/ziggy/src/js";

const props = defineProps({
    jugadores: Object,
});

// ATRIBUTTES
const firstname = ref("");
const lastname = ref("");
const posicion = ref("");
const scrollComponent = ref(null);
const searching = ref(false);

// FUNCTIONS
const search = async (e) => {
    let data = {};
    if (firstname.value != "") {
        data.firstname = firstname.value;
    }
    if (lastname.value != "") {
        data.lastname = lastname.value;
    }
    if (posicion.value != "") {
        data.posicion = posicion.value;
    }
    // console.log(data);
    Inertia.get(route("mercado.index"), data);
};
const scroll = async () => {
    let element = scrollComponent.value;
    if (
        element.getBoundingClientRect().bottom < window.innerHeight &&
        props.jugadores.next_page_url != null &&
        !searching.value
    ) {
        searching.value = true;
        let url = props.jugadores.next_page_url;
        let params = url.match(/(\?.*)/);
        let search = route("mercado.search");
        console.log(params);
        let urlSearch = search + params[0];
        // console.log(urlSearch);

        let res = await axios.get(urlSearch);
        // console.log(res);

        props.jugadores.data.push(...res.data.data);
        props.jugadores.next_page_url = res.data.next_page_url;
        searching.value = false;
    }
};

// MOUNTEDS
onMounted(() => {
    window.addEventListener("scroll", scroll);
});
onUnmounted(() => {
    window.removeEventListener("scroll", scroll);
});
</script>

<template>
    <AppLayout title="Mercado">
        <template #header>
            <h2 class="font-semibold text-xl text-slate-800 leading-tight">
                Mercado
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg py-2 px-3"
                >
                    <!-- BUSCADOR JUGADORES -->
                    <div class="w-full">
                        <form @submit.prevent="search">
                            <div
                                class="grid grid-cols-2 sm:grid-cols-7 xl:gap-6 sm:gap-3 gap-2"
                            >
                                <div
                                    class="relative z-0 w-full mb-6 group col-span-1 sm:col-span-2"
                                >
                                    <input
                                        v-model="firstname"
                                        type="text"
                                        name="firstname"
                                        id="floating_first_name"
                                        class="block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0 border-b-2 border-slate-300 appearance-none dark:text-white dark:border-slate-600 dark:focus:border-sky-500 focus:outline-none focus:ring-0 focus:border-sky-600 peer"
                                        placeholder=" "
                                    />
                                    <label
                                        for="firstname"
                                        class="peer-focus:font-medium absolute text-sm text-slate-500 dark:text-slate-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-sky-600 peer-focus:dark:text-sky-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                        >Nombre</label
                                    >
                                </div>
                                <div
                                    class="relative z-0 w-full mb-6 group col-span-1 sm:col-span-2"
                                >
                                    <input
                                        v-model="lastname"
                                        type="text"
                                        name="lastname"
                                        id="floating_last_name"
                                        class="block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0 border-b-2 border-slate-300 appearance-none dark:text-white dark:border-slate-600 dark:focus:border-sky-500 focus:outline-none focus:ring-0 focus:border-sky-600 peer"
                                        placeholder=" "
                                    />
                                    <label
                                        for="lastname"
                                        class="peer-focus:font-medium absolute text-sm text-slate-500 dark:text-slate-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-sky-600 peer-focus:dark:text-sky-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                        >Apellidos</label
                                    >
                                </div>
                                <div
                                    class="relative z-0 w-full mb-6 group col-span-1 sm:col-span-2"
                                >
                                    <label for="posicion" class="sr-only"
                                        >Posicion</label
                                    >
                                    <select
                                        v-model="posicion"
                                        id="posicion"
                                        class="block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0 border-b-2 border-slate-300 appearance-none dark:text-slate-400 dark:border-slate-600 focus:outline-none focus:ring-0 focus:border-sky-600 peer"
                                    >
                                        <option
                                            value=""
                                            class="text-slate-900 bg-sky-50"
                                            selected
                                        >
                                            Posición
                                        </option>
                                        <option
                                            value="ALL"
                                            class="text-slate-900 bg-sky-50"
                                        >
                                            Todos
                                        </option>
                                        <option
                                            value="G"
                                            class="text-slate-900 bg-sky-50"
                                        >
                                            Guard
                                        </option>
                                        <option
                                            value="F"
                                            class="text-slate-900 bg-sky-50"
                                        >
                                            Forward
                                        </option>
                                        <option
                                            value="C"
                                            class="text-slate-900 bg-sky-50"
                                        >
                                            Center
                                        </option>
                                    </select>
                                </div>
                                <div
                                    class="relative z-0 w-full mb-6 group col-span-1 flex justify-center"
                                >
                                    <!-- class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" -->
                                    <!-- class="text-white bg-orange-800 hover:bg-orange-900 focus:outline-none focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-orange-800 dark:hover:bg-orange-700 dark:focus:ring-orange-700 dark:border-orange-700" -->
                                    <button
                                        type="submit"
                                        class="text-white bg-sky-800 hover:bg-sky-900 focus:outline-none focus:ring-4 focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-sky-800 dark:hover:bg-sky-700 dark:focus:ring-sky-700 dark:border-sky-700"
                                    >
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- TARJETAS JUGADORES -->
                    <!-- class="flex flex-row flex-wrap items-stretch" -->
                    <div
                        class="grid grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-4"
                        v-if="props.jugadores.data"
                        ref="scrollComponent"
                    >
                        <!-- class="flex-initial basis-1/2 lg:basis-1/3 p-1 flex justify-center min-w-min" -->
                        <div
                            v-for="jugador in props.jugadores.data"
                            class="flex justify-center"
                        >
                            <TarjetaJugador :jugador="jugador" />
                        </div>

                        <!-- <div v-for="jugador in props.jugadores.data" class="">
                            <TarjetaJugador :jugador="jugador" />
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
