<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import Modal from "@/Jetstream/DialogModal.vue";
import { ref, onMounted, computed } from "vue";
import { Inertia } from "@inertiajs/inertia";
import GraficoBarras from "@/Components/graficoBarras.vue";
import GraficoLineas from "@/Components/graficoLineas.vue";

import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    BarElement,
    CategoryScale,
    LinearScale,
} from "chart.js";

ChartJS.register(
    Title,
    Tooltip,
    Legend,
    BarElement,
    CategoryScale,
    LinearScale
);

const props = defineProps({
    jugador: Object,
    games: Array,
    pointsAVG: String,
    rebAVG: String,
    astAVG: String,
});

// COMPUTED
const chartDataPuntos = computed(() => {
    let labels = [];
    let puntos = [];
    let media = [];
    let lenght = 0;
    let avg = parseFloat(props.pointsAVG);
    if (props.games.length >= 20) {
        lenght = props.games.length - 20;
    }
    for (lenght; lenght < props.games.length; lenght++) {
        labels.push(props.games[lenght].fecha);
        puntos.push(props.games[lenght].points);
        media.push(avg);
    }
    return {
        labels: labels,
        datasets: [
            {
                label: "Media",
                data: media,
                borderColor: "rgb( 234, 88, 12 )",
                backgroundColor: "rgba( 234, 88, 12 , 0.20)",
                fill: false,
            },
            {
                label: "Puntos",
                borderColor: "rgb(96, 165, 250)",
                backgroundColor: "rgba(96, 165, 250, 0.20)",
                data: puntos,
                fill: true,
            },
        ],
    };
});
const chartDataRebotes = computed(() => {
    let labels = [];
    let rebotes = [];
    let media = [];
    let lenght = 0;
    let avg = parseFloat(props.rebAVG);
    if (props.games.length >= 10) {
        lenght = props.games.length - 10;
    }
    for (lenght; lenght < props.games.length; lenght++) {
        labels.push(props.games[lenght].fecha);
        rebotes.push(props.games[lenght].totReb);
        media.push(avg);
    }
    return {
        labels: labels,
        datasets: [
            {
                label: "Media",
                data: media,
                borderColor: "rgb( 234, 88, 12)",
                backgroundColor: "rgba( 234, 88, 12 , 0.20)",
                fill: false,
            },
            {
                label: "Rebotes",
                borderColor: "rgb(96, 165, 250)",
                backgroundColor: "rgba(96, 165, 250, 0.20)",
                data: rebotes,
                fill: true,
            },
        ],
    };
});
const chartDataAssists = computed(() => {
    let labels = [];
    let asistencias = [];
    let media = [];
    let lenght = 0;
    let avg = parseFloat(props.astAVG);
    if (props.games.length >= 10) {
        lenght = props.games.length - 10;
    }
    for (lenght; lenght < props.games.length; lenght++) {
        labels.push(props.games[lenght].fecha);
        asistencias.push(props.games[lenght].assists);
        media.push(avg);
    }
    return {
        labels: labels,
        datasets: [
            {
                label: "Media",
                data: media,
                borderColor: "rgb( 234, 88, 12)",
                backgroundColor: "rgba( 234, 88, 12 , 0.20)",
                fill: false,
            },
            {
                label: "Asistencias",
                borderColor: "rgb(96, 165, 250)",
                backgroundColor: "rgba(96, 165, 250, 0.20)",
                data: asistencias,
                fill: true,
            },
        ],
    };
});

// ATRIBUTTES
const player = ref(null);

// FUNCTIONS
const peticionFullPlayer = () => {
    let name = props.jugador.firstname + "_" + props.jugador.lastname;
    let options = {
        method: "GET",
        url: "https://nba-player-individual-stats.p.rapidapi.com/players/fullname",
        params: { name: name },
        headers: {
            "X-RapidAPI-Host": process.env.MIX_RAPIDAPI_HOST,
            "X-RapidAPI-Key": process.env.MIX_RAPIDAPI_KEY,
        },
    };
    if (
        props.jugador.id_api_individual_stats &&
        props.jugador.id_api_individual_stats > 0
    ) {
        options.url =
            "https://nba-player-individual-stats.p.rapidapi.com/players/" +
            props.jugador.id_api_individual_stats;
        // options.params = { id: props.jugador.id_api_individual_stats };
    }

    axios
        .request(options)
        .then(function (response) {
            // console.log(response.data);
            if (response.status == 200 && response.data != null) {
                player.value = response.data;
            }
        })
        .catch(function (error) {
            console.error(error);
        });
};

// ON MOUNTED
onMounted(() => {
    peticionFullPlayer();
});
</script>

<template>
    <AppLayout title="Ver Jugador">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Ver Jugador
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg py-2 px-5"
                >
                    <div
                        class="flex flex-col justify-center md:grid grid-cols-2 gap-2"
                    >
                        <!-- PLAYER -->
                        <div class="">
                            <div>
                                <img
                                    class="rounded-t-lg w-full"
                                    :src="props.jugador.image_url"
                                    alt=""
                                />
                                <h1 class="text-center text-2xl m-1 m-2">
                                    {{ props.jugador.firstname }}
                                    {{ props.jugador.lastname }}
                                </h1>
                            </div>
                            <div class="m-2">
                                <template v-if="player">
                                    <h3 class="text-center">
                                        Posicion: {{ player.position }}
                                    </h3>
                                    <h3 class="text-center">
                                        Equipo: {{ player.team }}
                                    </h3>
                                </template>
                                <h3 class="text-center">
                                    Altura: {{ props.jugador.altura }}m | Peso:
                                    {{ props.jugador.peso }}Kg
                                </h3>
                            </div>
                        </div>
                        <!-- PUNTOS -->
                        <div class="">
                            <h3 class="text-center">Puntos</h3>
                            <div class="flex justify-center align-middle">
                                <GraficoLineas
                                    id="grafico-puntos"
                                    :chartData="this.chartDataPuntos"
                                    cssClasses="w-10/12 max-h-fit"
                                />
                            </div>
                        </div>
                        <!-- REBOTES -->
                        <div class="">
                            <h3 class="text-center">Rebotes</h3>
                            <div class="flex justify-center align-middle">
                                <GraficoLineas
                                    id="grafico-rebotes"
                                    :chartData="this.chartDataRebotes"
                                    cssClasses="w-10/12 max-h-fit"
                                />
                            </div>
                        </div>
                        <!-- ASISTENCIAS -->
                        <div class="">
                            <h3 class="text-center">Asistencias</h3>
                            <div class="flex justify-center align-middle">
                                <GraficoLineas
                                    id="grafico-asistencias"
                                    :chartData="this.chartDataAssists"
                                    cssClasses="w-10/12 max-h-fit"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
