<script setup>
import { ref, computed, onBeforeMount } from "vue";
import { Inertia } from "@inertiajs/inertia";
import { Head, Link, usePage } from "@inertiajs/inertia-vue3";
import JetApplicationMark from "@/Jetstream/ApplicationMark.vue";
import JetBanner from "@/Jetstream/Banner.vue";
import JetDropdown from "@/Jetstream/Dropdown.vue";
import JetNavLink from "@/Jetstream/NavLink.vue";
import JetDropdownLink from "@/Jetstream/DropdownLink.vue";
import JetResponsiveNavLink from "@/Jetstream/ResponsiveNavLink.vue";
import { booleanLiteral } from "@babel/types";

defineProps({
    title: String,
});

const showingNavigationDropdown = ref(false);

const logout = () => {
    Inertia.post(route("logout"));
};
</script>

<template>
    <div>
        <Head :title="title" />

        <JetBanner />

        <div class="min-h-screen bg-blue-400/10">
            <nav class="bg-white border-b border-blue-200">
                <!-- Primary Navigation Menu -->
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex justify-between h-16">
                        <div class="flex">
                            <!-- Logo -->
                            <div class="shrink-0 flex items-center">
                                <Link :href="route('inicio')">
                                    <JetApplicationMark
                                        class="block h-9 w-auto"
                                    />
                                </Link>
                            </div>

                            <!-- Navigation Links -->
                            <div
                                class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"
                            >
                                <JetNavLink
                                    :href="route('inicio')"
                                    :active="route().current('inicio')"
                                >
                                    Inicio
                                </JetNavLink>
                            </div>
                            <!-- <div
                                class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"
                            >
                                <JetNavLink
                                    :href="route('reglas')"
                                    :active="route().current('reglas')"
                                >
                                    Reglas
                                </JetNavLink>
                            </div> -->
                            <div
                                class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"
                            >
                                <JetNavLink
                                    :href="route('nosotros')"
                                    :active="route().current('nosotros')"
                                >
                                    Nosotros
                                </JetNavLink>
                            </div>
                            <template v-if="$page.props.auth">
                                <div
                                    class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"
                                >
                                    <JetNavLink
                                        :href="route('mercado.index')"
                                        :active="
                                            route().current('mercado.index')
                                        "
                                    >
                                        Mercado
                                    </JetNavLink>
                                </div>
                                <div
                                    class="hidden space-x-8 sm:ml-10 sm:flex sm:items-center"
                                >
                                    <!-- width="48" -->
                                    <JetDropdown
                                        align="center"
                                        :contentClasses="[
                                            '-translate-y-4',
                                            'bg-white',
                                        ]"
                                    >
                                        <template #trigger>
                                            <JetNavLink
                                                :trueLink="false"
                                                class="sm:flex"
                                                :active="
                                                    route().current(
                                                        'equipos.index'
                                                    ) ||
                                                    route().current(
                                                        'ligas.index'
                                                    )
                                                "
                                            >
                                                <!-- class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition" -->
                                                Gestion
                                                <span>
                                                    <svg
                                                        class="w-4 h-4 ml-1 mt-1"
                                                        fill="currentColor"
                                                        viewBox="0 0 20 20"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            fill-rule="evenodd"
                                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                            clip-rule="evenodd"
                                                        ></path>
                                                    </svg>
                                                </span>
                                            </JetNavLink>
                                        </template>
                                        <template #content>
                                            <JetDropdownLink
                                                :href="route('ligas.index')"
                                                :active="
                                                    route().current(
                                                        'ligas.index'
                                                    )
                                                "
                                                >Mis Ligas</JetDropdownLink
                                            >
                                            <JetDropdownLink
                                                :href="route('equipos.index')"
                                                :active="
                                                    route().current(
                                                        'equipos.index'
                                                    )
                                                "
                                                >Mis Equipos</JetDropdownLink
                                            >
                                        </template>
                                    </JetDropdown>
                                </div>
                            </template>
                            <template v-else>
                                <div
                                    class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"
                                >
                                    <JetNavLink
                                        :href="route('login')"
                                        :active="route().current('login')"
                                    >
                                        Log In
                                    </JetNavLink>
                                </div>
                                <div
                                    class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"
                                >
                                    <JetNavLink
                                        :href="route('register')"
                                        :active="route().current('register')"
                                    >
                                        Registrarse
                                    </JetNavLink>
                                </div>
                            </template>
                        </div>

                        <div
                            class="hidden sm:flex sm:items-center sm:ml-6"
                            v-if="$page.props.auth"
                        >
                            <!-- Settings Dropdown -->
                            <div class="ml-3 relative">
                                <JetDropdown align="right" width="48">
                                    <template #trigger>
                                        <button
                                            v-if="
                                                $page.props.jetstream
                                                    .managesProfilePhotos
                                            "
                                            class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition"
                                        >
                                            <img
                                                class="h-8 w-8 rounded-full object-cover"
                                                :src="
                                                    $page.props.user
                                                        .profile_photo_url
                                                "
                                                :alt="$page.props.user.name"
                                            />
                                        </button>

                                        <span
                                            v-else
                                            class="inline-flex rounded-md"
                                        >
                                            <button
                                                type="button"
                                                class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition"
                                            >
                                                {{ $page.props.user.name }}

                                                <svg
                                                    class="ml-2 -mr-0.5 h-4 w-4"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20"
                                                    fill="currentColor"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                        clip-rule="evenodd"
                                                    />
                                                </svg>
                                            </button>
                                        </span>
                                    </template>

                                    <template #content>
                                        <!-- Account Management -->
                                        <div
                                            class="block px-4 py-2 text-xs text-gray-400"
                                        >
                                            Manage Account
                                        </div>

                                        <JetDropdownLink
                                            :href="route('profile.show')"
                                        >
                                            Profile
                                        </JetDropdownLink>

                                        <div class="border-t border-gray-100" />

                                        <!-- Authentication -->
                                        <form @submit.prevent="logout">
                                            <JetDropdownLink as="button">
                                                Log Out
                                            </JetDropdownLink>
                                        </form>
                                    </template>
                                </JetDropdown>
                            </div>
                        </div>

                        <!-- Hamburger -->
                        <div class="-mr-2 flex items-center sm:hidden">
                            <button
                                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition"
                                @click="
                                    showingNavigationDropdown =
                                        !showingNavigationDropdown
                                "
                            >
                                <svg
                                    class="h-6 w-6"
                                    stroke="currentColor"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        :class="{
                                            hidden: showingNavigationDropdown,
                                            'inline-flex':
                                                !showingNavigationDropdown,
                                        }"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M4 6h16M4 12h16M4 18h16"
                                    />
                                    <path
                                        :class="{
                                            hidden: !showingNavigationDropdown,
                                            'inline-flex':
                                                showingNavigationDropdown,
                                        }"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Responsive Navigation Menu -->
                <div
                    :class="{
                        block: showingNavigationDropdown,
                        hidden: !showingNavigationDropdown,
                    }"
                    class="sm:hidden"
                >
                    <div class="pt-2 pb-3 space-y-1">
                        <JetResponsiveNavLink
                            :href="route('inicio')"
                            :active="route().current('inicio')"
                        >
                            Inicio
                        </JetResponsiveNavLink>
                    </div>
                    <!-- <div class="pt-2 pb-3 space-y-1">
                        <JetResponsiveNavLink
                            :href="route('reglas')"
                            :active="route().current('reglas')"
                        >
                            Reglas
                        </JetResponsiveNavLink>
                    </div> -->
                    <div class="pt-2 pb-3 space-y-1">
                        <JetResponsiveNavLink
                            :href="route('nosotros')"
                            :active="route().current('nosotros')"
                        >
                            Nosotros
                        </JetResponsiveNavLink>
                    </div>
                    <template v-if="$page.props.auth">
                        <div class="pt-4 pb-1 border-t border-gray-200">
                            <div class="pt-2 pb-3 space-y-1">
                                <JetResponsiveNavLink
                                    :href="route('mercado.index')"
                                    :active="route().current('mercado.index')"
                                >
                                    Mercado
                                </JetResponsiveNavLink>
                            </div>
                            <div class="pt-2 pb-3 space-y-1">
                                <JetResponsiveNavLink
                                    :href="route('ligas.index')"
                                    :active="route().current('ligas.index')"
                                >
                                    Mis Ligas
                                </JetResponsiveNavLink>
                            </div>
                            <div class="pt-2 pb-3 space-y-1">
                                <JetResponsiveNavLink
                                    :href="route('equipos.index')"
                                    :active="route().current('equipos.index')"
                                >
                                    Mis Equipos
                                </JetResponsiveNavLink>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="pt-2 pb-3 space-y-1">
                            <JetResponsiveNavLink
                                :href="route('login')"
                                :active="route().current('login')"
                            >
                                Login
                            </JetResponsiveNavLink>
                        </div>
                        <div class="pt-2 pb-3 space-y-1">
                            <JetResponsiveNavLink
                                :href="route('register')"
                                :active="route().current('register')"
                            >
                                Registrarse
                            </JetResponsiveNavLink>
                        </div>
                    </template>

                    <!-- Responsive Settings Options -->
                    <div
                        class="pt-4 pb-1 border-t border-gray-200"
                        v-if="$page.props.auth"
                    >
                        <div class="flex items-center px-4">
                            <div
                                v-if="
                                    $page.props.jetstream.managesProfilePhotos
                                "
                                class="shrink-0 mr-3"
                            >
                                <img
                                    class="h-10 w-10 rounded-full object-cover"
                                    :src="$page.props.user.profile_photo_url"
                                    :alt="$page.props.user.name"
                                />
                            </div>

                            <div>
                                <div
                                    class="font-medium text-base text-gray-800"
                                >
                                    {{ $page.props.user.name }}
                                </div>
                                <div class="font-medium text-sm text-gray-500">
                                    {{ $page.props.user.email }}
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 space-y-1">
                            <JetResponsiveNavLink
                                :href="route('profile.show')"
                                :active="route().current('profile.show')"
                            >
                                Profile
                            </JetResponsiveNavLink>

                            <!-- Authentication -->
                            <form method="POST" @submit.prevent="logout">
                                <JetResponsiveNavLink as="button">
                                    Log Out
                                </JetResponsiveNavLink>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Page Heading -->
            <header v-if="$slots.header" class="bg-white shadow">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <slot name="header" />
                </div>
            </header>

            <!-- Page Content -->
            <main>
                <slot />
            </main>
        </div>
    </div>
</template>
